Repository dotnet/Silk.NET, pull requests merged in 2020-11, with the labels that each got.

#322 Add VS Code support for tutorials
  .vscode/launch.json
  .vscode/tasks.json
Labels: size/XL

#352 GL.cs (non-gen) documentation
  src/OpenGL/Silk.NET.OpenGL/GL.cs
Labels: size/XL

#354 Fixed issues in VulkanTriangle Demo
  src/Lab/VulkanTriangle/HelloTriangleApplication.cs
Labels: size/S

#356 [2.0] Fix the experimental feed
  .github/workflows/build.yml
  build/nuke/Build.cs
  src/OpenGL/Silk.NET.OpenGL/GL.cs
Labels: size/M

#348 Remove Zeroing from StringMarshaller
  src/Core/Silk.NET.SilkTouch/Middlewares/StringMarshaller.cs
Labels: area-SilkTouch, size/M
