Repository dotnet/Silk.NET, pull requests merged in 2020-10, with the labels that each got.

#319 Add BorderSize, GetFullSize(), and Centre() for IWindow
  build/props/common.props
  src/Lab/MonitorPlayground/Program.cs
  src/Windowing/Silk.NET.Windowing.Common/Interfaces/IWindow.cs
  src/Windowing/Silk.NET.Windowing.Common/WindowExtensions.cs
  src/Windowing/Silk.NET.Windowing.Desktop/GlfwWindow.cs
Labels: area-Windowing, enhancement, size/M

#323 Type Specialization
  .github/workflows/maths-ci.yml
  .github/workflows/maths-jit-diff.yml
  build/maths/windows-jit-asm-x64
  build/maths/windows-jit-asm-x86
  src/Lab/GenericMaths/GenericMaths.csproj
  src/Lab/GenericMaths/Program.cs
  src/Maths/Silk.NET.Maths.GenericsGenerator/Abstractions.cs
  src/Maths/Silk.NET.Maths.GenericsGenerator/Generator.cs
  src/Maths/Silk.NET.Maths.GenericsGenerator/OperationWalker.cs
  src/Maths/Silk.NET.Maths.GenericsGenerator/ValueTypes/BinaryOperatorValue.cs
  src/Maths/Silk.NET.Maths.GenericsGenerator/ValueTypes/FieldReferenceValue.cs
  src/Maths/Silk.NET.Maths.GenericsGenerator/ValueTypes/LiteralValue.cs
  src/Maths/Silk.NET.Maths.GenericsGenerator/ValueTypes/LocalReferenceValue.cs
  src/Maths/Silk.NET.Maths.GenericsGenerator/ValueTypes/ParameterReferenceValue.cs
  src/Maths/Silk.NET.Maths.GenericsGenerator/ValueTypes/PropertyReferenceValue.cs
  src/Maths/Silk.NET.Maths.GenericsGenerator/ValueTypes/UnaryOperatorValue.cs
Labels: area-Maths, size/XL

#327 Math Generator options
  src/Lab/GenericMaths/Program.cs
  src/Maths/Silk.NET.Maths.GenericsGenerator/Generator.cs
  src/Maths/Silk.NET.Maths.GenericsGenerator/OperationWalker.cs
  src/Maths/Silk.NET.Maths.GenericsGenerator/ValueTypes/LiteralValue.cs
Labels: area-Maths, size/L

#328 Add DebuggerHidden attributes in some places
  src/Core/Silk.NET.SilkTouch/NativeApiGenerator.cs
Labels: area-SilkTouch, size/L

#331 Fixup String marshalling
  src/Core/Silk.NET.SilkTouch/StringMarshaller.cs
Labels: area-SilkTouch, size/S

#333 SilkMarshal 2.0
  .editorconfig
  src/Core/Silk.NET.Core/Loader/LibraryLoader.cs
  src/Core/Silk.NET.Core/Native/GlobalMemory.cs
  src/Core/Silk.NET.Core/Native/NativeStringEncoding.cs
  src/Core/Silk.NET.Core/Native/SilkMarshal.cs
  src/Core/Silk.NET.Core/Native/UnmanagedType.cs
  src/Core/Silk.NET.Core/Silk.NET.Core.csproj
Labels: area-Meta, enhancement, size/XL

#336 Load override proposal
  documentation/proposals/(Rejected) Proposal - Load overrides.md
Labels: proposal, size/L

#338 P/Invoke capabilities in SilkTouch
  Silk.NET.sln
  src/Assimp/Silk.NET.Assimp/Assimp.cs
  src/Core/Silk.NET.Core/Contexts/DefaultNativeContext.cs
  src/Core/Silk.NET.Core/Contexts/INativeContext.cs
  src/Core/Silk.NET.Core/Contexts/LamdaNativeContext.cs
  src/Core/Silk.NET.Core/Contexts/MultiNativeContext.cs
  src/Core/Silk.NET.Core/Native/NativeApiContainer.cs
  src/Core/Silk.NET.Core/Native/PInvokeOverride.cs
  src/Core/Silk.NET.SilkTouch/EntryPoint.cs
  src/Core/Silk.NET.SilkTouch/INativeContextOverride.cs
  src/Core/Silk.NET.SilkTouch/Middlewares/BoolMarshaller.cs
  src/Core/Silk.NET.SilkTouch/Middlewares/DelegateMarshaller.cs
  src/Core/Silk.NET.SilkTouch/Middlewares/GenericPointerMarshaller.cs
  src/Core/Silk.NET.SilkTouch/Middlewares/ParameterInitMiddleware.cs
  src/Core/Silk.NET.SilkTouch/Middlewares/PinMiddleware.cs
  src/Core/Silk.NET.SilkTouch/Middlewares/PinObjectMarshaller.cs
  src/Core/Silk.NET.SilkTouch/Middlewares/SpanMarshaller.cs
  src/Core/Silk.NET.SilkTouch/Middlewares/StringMarshaller.cs
  src/Core/Silk.NET.SilkTouch/NativeApiGenerator.cs
  src/Core/Silk.NET.SilkTouch/NativeContextOverrideGeneration.cs
  src/Core/Silk.NET.SilkTouch/NativeContextOverrides/PInvokeNativeContextOverride.cs
  src/Core/Silk.NET.SilkTouch/VTableGeneration.cs
  src/Lab/JITTesting/Program.cs
  src/Lab/TestLib/Class1.cs
  src/Lab/TestLib/TestLib.csproj
  src/OpenAL/Silk.NET.OpenAL/AL/AL.cs
  src/OpenAL/Silk.NET.OpenAL/ALC/ALContext.cs
  src/OpenCL/Silk.NET.OpenCL/CL.cs
  src/OpenXR/Silk.NET.OpenXR/XR.cs
  src/Vulkan/Silk.NET.Vulkan/Vk.cs
  src/Windowing/Silk.NET.GLFW/Glfw.cs
  src/Windowing/Silk.NET.GLFW/GlfwContext.cs
  src/Windowing/Silk.NET.SDL/SDL.cs
  src/Windowing/Silk.NET.Windowing.Glfw/GlfwWindow.cs
  src/Windowing/Silk.NET.Windowing.Sdl/SdlGLContext.cs
Labels: area-SilkTouch, size/XXL
