Repository dotnet/Silk.NET, pull requests merged in 2020-06, with the labels that each got.

#187 stabilization of update/FPS limiting
  src/Windowing/Silk.NET.Windowing.Desktop/GlfwWindow.cs
Labels: size/S

#194 Box2<T> Box3<T>
  src/Maths/Silk.NET.Maths/Box2.cs
  src/Maths/Silk.NET.Maths/Box3.cs
  src/Maths/Silk.NET.Maths/Scalar.cs
Labels: area-Maths, size/XL

#195 Readonly Vectors
  src/Maths/Silk.NET.Maths/Vector2.cs
  src/Maths/Silk.NET.Maths/Vector3.cs
  src/Maths/Silk.NET.Maths/Vector4.cs
Labels: size/L

#196 Nullability
  src/Maths/Silk.NET.Maths/AssemblyInfo.cs
  src/Maths/Silk.NET.Maths/Box2.cs
  src/Maths/Silk.NET.Maths/Box3.cs
  src/Maths/Silk.NET.Maths/Half.cs
  src/Maths/Silk.NET.Maths/Matrix2x2.cs
  src/Maths/Silk.NET.Maths/Matrix2x3.cs
  src/Maths/Silk.NET.Maths/Matrix2x4.cs
  src/Maths/Silk.NET.Maths/Matrix3X3.cs
  src/Maths/Silk.NET.Maths/Matrix3X4.cs
  src/Maths/Silk.NET.Maths/Matrix3x2.cs
  src/Maths/Silk.NET.Maths/Matrix4X3.cs
  src/Maths/Silk.NET.Maths/Matrix4X4.cs
  src/Maths/Silk.NET.Maths/Matrix4x2.cs
  src/Maths/Silk.NET.Maths/Quaternion.cs
  src/Maths/Silk.NET.Maths/Silk.NET.Maths.csproj
  src/Maths/Silk.NET.Maths/Vector2.cs
  src/Maths/Silk.NET.Maths/Vector3.cs
  src/Maths/Silk.NET.Maths/Vector4.cs
Labels: area-Maths, enhancement, size/L

#198 Add Basic Scalar Tests & Fix Scalar mistakes
  src/Maths/Silk.NET.Maths/Scalar.cs
  src/Maths/Silk.NET.Maths/Silk.NET.Maths.csproj
  src/Maths/Silk.Net.Maths.Tests/ScalarTests.cs
  src/Maths/Silk.Net.Maths.Tests/Silk.Net.Maths.Tests.csproj
  src/Maths/Silk.Net.Maths.sln
Labels: size/XL

#149 [2.0] Proposal for better strings
  documentation/proposals/(Rejected) Proposal - Better Strings.md
Labels: enhancement, proposal, size/L

#200 Scalar2
  .editorconfig
  src/Maths/Silk.NET.Maths/AssemblyInfo.cs
  src/Maths/Silk.NET.Maths/Box2.cs
  src/Maths/Silk.NET.Maths/Box3.cs
  src/Maths/Silk.NET.Maths/Half.cs
  src/Maths/Silk.NET.Maths/Matrix2x2.cs
  src/Maths/Silk.NET.Maths/Matrix2x3.cs
  src/Maths/Silk.NET.Maths/Matrix2x4.cs
  src/Maths/Silk.NET.Maths/Matrix3X3.cs
  src/Maths/Silk.NET.Maths/Matrix3X4.cs
  src/Maths/Silk.NET.Maths/Matrix3x2.cs
  src/Maths/Silk.NET.Maths/Matrix4X3.cs
  src/Maths/Silk.NET.Maths/Matrix4X4.cs
  src/Maths/Silk.NET.Maths/Matrix4x2.cs
  src/Maths/Silk.NET.Maths/Quaternion.cs
  src/Maths/Silk.NET.Maths/Scalar.cs
  src/Maths/Silk.NET.Maths/Vector2.cs
  src/Maths/Silk.NET.Maths/Vector3.cs
  src/Maths/Silk.NET.Maths/Vector4.cs
  src/Maths/Silk.Net.Maths.Tests/ScalarTests.cs
  src/Maths/Silk.Net.Maths.Tests/Silk.Net.Maths.Tests.csproj
Labels: size/XXL

#201 Swizzle Operators
  src/Maths/Silk.NET.Maths/SwizzleOperators.cs
  src/Maths/Silk.NET.Maths/Vector2.cs
  src/Maths/Silk.NET.Maths/Vector3.cs
  src/Maths/Silk.NET.Maths/Vector4.cs
Labels: size/L

#202 Downsizing Swizzle operators
  src/Maths/Silk.NET.Maths/SwizzleOperators.cs
Labels: size/M

#205 Quaternion<T>
  src/Maths/Silk.NET.Maths/Quaternion.cs
  src/Maths/Silk.NET.Maths/Scalar.cs
  src/Maths/Silk.NET.Maths/Vector2.cs
  src/Maths/Silk.NET.Maths/Vector3.cs
  src/Maths/Silk.NET.Maths/Vector4.cs
Labels: size/L

#206 Better hash codes
  src/Maths/Silk.NET.Maths/Box2.cs
  src/Maths/Silk.NET.Maths/Box3.cs
  src/Maths/Silk.NET.Maths/Quaternion.cs
  src/Maths/Silk.NET.Maths/Scalar.cs
  src/Maths/Silk.NET.Maths/Silk.NET.Maths.csproj
  src/Maths/Silk.NET.Maths/SwizzleOperators.cs
  src/Maths/Silk.NET.Maths/Vector2.cs
  src/Maths/Silk.NET.Maths/Vector3.cs
  src/Maths/Silk.NET.Maths/Vector4.cs
Labels: size/L

#208 wraping glfwSetFramebufferSizeCallback
  Silk.NET.sln
  src/Lab/FramebufferResized/FramebufferResized.csproj
  src/Lab/FramebufferResized/Program.cs
  src/Windowing/Silk.NET.GLFW/Glfw.cs
  src/Windowing/Silk.NET.GLFW/GlfwCallbacks.cs
Labels: area-Windowing, enhancement, size/M
