Repository dotnet/Silk.NET, pull requests merged in 2020-12, with the labels that each got.

#365 Add explicit casts
  src/Maths/Silk.NET.Maths/Matrix3x2.cs
  src/Maths/Silk.NET.Maths/Matrix4x4.cs
  src/Maths/Silk.NET.Maths/Plane.cs
  src/Maths/Silk.NET.Maths/Quaternion.cs
  src/Maths/Silk.NET.Maths/Vector2.cs
  src/Maths/Silk.NET.Maths/Vector3.cs
  src/Maths/Silk.NET.Maths/Vector4.cs
Labels: area-Maths, size/M

#363 Rectangle.FromLTRB
  src/Maths/Silk.NET.Maths/Rectangle.Ops.cs
Labels: area-Maths, size/M

#371 Import common in maths
  src/Maths/Silk.NET.Maths/Silk.NET.Maths.csproj
Labels: size/XS

#369 Bitwise scalar proposal
  documentation/proposals/Proposal - Bitwise - Scalar.md
Labels: size/M

#367 Vectorization - SIMD proposal
  documentation/proposals/Proposal - Vectorization - SIMD.md
Labels: proposal, size/L

#373 SilkTouch staging & injecting
  src/Core/Silk.NET.Core/Attributes/InjectAttribute.cs
  src/Core/Silk.NET.SilkTouch/MarshalContext.cs
  src/Core/Silk.NET.SilkTouch/Middlewares/InjectMiddleware.cs
  src/Core/Silk.NET.SilkTouch/Middlewares/ParameterInitMiddleware.cs
  src/Core/Silk.NET.SilkTouch/NativeApiGenerator.cs
  src/Core/Silk.NET.SilkTouch/Silk.NET.SilkTouch.csproj
  src/Lab/TestLib/Class1.cs
Labels: area-SilkTouch, size/L

#375 LPUTF8Str support
  Silk.NET.sln
  src/Core/Silk.NET.SilkTouch/Middlewares/StringMarshaller.cs
  src/Lab/Utf8Test/Program.cs
  src/Lab/Utf8Test/Utf8Test.csproj
  src/Windowing/Silk.NET.GLFW/Glfw.cs
Labels: size/M

#374 Minify Trees
  src/Core/Silk.NET.SilkTouch/NameGenerator.cs
  src/Core/Silk.NET.SilkTouch/NativeApiGenerator.cs
  src/Core/Silk.NET.SilkTouch/NativeContextOverrides/PInvokeNativeContextOverride.cs
  src/Core/Silk.NET.SilkTouch/VTableGeneration.cs
Labels: size/L

#386 Fixes image loading logic.
  src/Lab/BlankWindow/Program.cs
Labels: size/S

#385 Bug fixes and Improvements to Vk and XR.
  src/Lab/VulkanTriangle/HelloTriangleApplication.cs
  src/OpenXR/Silk.NET.OpenXR/XR.cs
  src/Vulkan/Silk.NET.Vulkan/Vk.cs
Labels: size/XL
