Repository dotnet/Silk.NET, pull requests merged in 2020-04, with the labels that each got.

#152 Transparent framebuffers
  src/Windowing/Silk.NET.Windowing.Common/Interfaces/IWindowProperties.cs
  src/Windowing/Silk.NET.Windowing.Common/WindowOptions.cs
  src/Windowing/Silk.NET.Windowing.Desktop/GlfwWindow.cs
Labels: area-Windowing

#154 Implement IDispose on IView
  Silk.NET.sln.DotSettings
  src/Windowing/Silk.NET.Windowing.Common/Interfaces/IView.cs
  src/Windowing/Silk.NET.Windowing.Common/WindowOptions.cs
  src/Windowing/Silk.NET.Windowing.Desktop/GlfwWindow.cs
Labels: area-Windowing, bug

#156 Fix improper shader names
  examples/CSharp/Tutorial 1.3 - Abstractions/shader.frag
  examples/CSharp/Tutorial 1.3 - Abstractions/shader.vert
  examples/CSharp/Tutorial 1.4 - Textures/shader.frag
  examples/CSharp/Tutorial 1.4 - Textures/shader.vert
  examples/CSharp/Tutorial 1.5 - Transformations/shader.frag
  examples/CSharp/Tutorial 1.5 - Transformations/shader.vert
Labels: area-Meta

#162 OpenAL fixes
  src/OpenAL/Silk.NET.OpenAL/AL/AL.cs
Labels: area-OpenAL, bug

#167 More OpenAL fixes
  src/OpenAL/Extensions/Silk.NET.OpenAL.Extensions.Creative/EffectExtension.cs
  src/OpenAL/Extensions/Silk.NET.OpenAL.Extensions.Creative/EffectExtensionContext.cs
  src/OpenAL/Extensions/Silk.NET.OpenAL.Extensions.Creative/XRam.cs
  src/OpenAL/Extensions/Silk.NET.OpenAL.Extensions.EXT/Capture.cs
  src/OpenAL/Silk.NET.OpenAL/AL/AL.cs
  src/OpenAL/Silk.NET.OpenAL/ALC/ALContext.cs
Labels: area-OpenAL, bug

#153 [1.X] [WIP] Platform hints proposal
  documentation/proposals/(Rejected) Proposal - Platform Hints.md
Labels: needs-wg-discussion
