Repository dotnet/Silk.NET, pull requests merged in 2020-07, with the labels that each got.

#221 Create Tutorial 2.2 to demonstrate Camera basics
  Silk.NET.sln
  examples/CSharp/Tutorial 2.1 - Co-ordinate Systems/BufferObject.cs
  examples/CSharp/Tutorial 2.1 - Co-ordinate Systems/Program.cs
  examples/CSharp/Tutorial 2.1 - Co-ordinate Systems/Shader.cs
  examples/CSharp/Tutorial 2.1 - Co-ordinate Systems/Texture.cs
  examples/CSharp/Tutorial 2.1 - Co-ordinate Systems/Transform.cs
  examples/CSharp/Tutorial 2.1 - Co-ordinate Systems/Tutorial 2.1 - Co-ordinate Systems.csproj
  examples/CSharp/Tutorial 2.1 - Co-ordinate Systems/VertexArrayObject.cs
  examples/CSharp/Tutorial 2.1 - Co-ordinate Systems/shader.frag
  examples/CSharp/Tutorial 2.1 - Co-ordinate Systems/shader.vert
  examples/CSharp/Tutorial 2.1 - Co-ordinate Systems/silk.png
  examples/CSharp/Tutorial 2.2 - Camera/BufferObject.cs
  examples/CSharp/Tutorial 2.2 - Camera/Program.cs
  examples/CSharp/Tutorial 2.2 - Camera/Shader.cs
  examples/CSharp/Tutorial 2.2 - Camera/Texture.cs
  examples/CSharp/Tutorial 2.2 - Camera/Transform.cs
  examples/CSharp/Tutorial 2.2 - Camera/Tutorial 2.2 - Camera.csproj
  examples/CSharp/Tutorial 2.2 - Camera/VertexArrayObject.cs
  examples/CSharp/Tutorial 2.2 - Camera/shader.frag
  examples/CSharp/Tutorial 2.2 - Camera/shader.vert
  examples/CSharp/Tutorial 2.2 - Camera/silk.png
Labels: size/XS

#230 Consolidate the use of ImageSharp rc3 in BlankWindow Lab
  src/Lab/BlankWindow/BlankWindow.csproj
  src/Lab/BlankWindow/Program.cs
Labels: size/S

#227 Update GLSymbolLoader to use the new, non-throwing load methods
  src/Core/Silk.NET.Core/Core1.0/Loader/GLSymbolLoader.cs
Labels: area-OpenGL, bug, size/XS

#236 July 2020 .NET Update
  azure-pipelines-cd.yml
  azure-pipelines.yml
  global.json
Labels: size/S

#237 .Net 5 Preview 6
  azure-pipelines-cd.yml
  azure-pipelines.yml
  global.json
Labels: area-Meta, not a bug, size/S

#233 Create Tutorial 3.3 for Specular Lighting
  Silk.NET.sln
  examples/CSharp/Tutorial 3.3 - Specular Lighting/BufferObject.cs
  examples/CSharp/Tutorial 3.3 - Specular Lighting/Camera.cs
  examples/CSharp/Tutorial 3.3 - Specular Lighting/MathHelper.cs
  examples/CSharp/Tutorial 3.3 - Specular Lighting/Program.cs
  examples/CSharp/Tutorial 3.3 - Specular Lighting/Shader.cs
  examples/CSharp/Tutorial 3.3 - Specular Lighting/Texture.cs
  examples/CSharp/Tutorial 3.3 - Specular Lighting/Transform.cs
  examples/CSharp/Tutorial 3.3 - Specular Lighting/Tutorial 3.3 - Specular Lighting.csproj
  examples/CSharp/Tutorial 3.3 - Specular Lighting/VertexArrayObject.cs
  examples/CSharp/Tutorial 3.3 - Specular Lighting/lighting.frag
  examples/CSharp/Tutorial 3.3 - Specular Lighting/shader.frag
  examples/CSharp/Tutorial 3.3 - Specular Lighting/shader.vert
Labels: size/XL

#234 Create Tutorial 3.4 to demonstrate use of Materials in lighting shader
  Silk.NET.sln
  examples/CSharp/Tutorial 3.4 - Materials/BufferObject.cs
  examples/CSharp/Tutorial 3.4 - Materials/Camera.cs
  examples/CSharp/Tutorial 3.4 - Materials/MathHelper.cs
  examples/CSharp/Tutorial 3.4 - Materials/Program.cs
  examples/CSharp/Tutorial 3.4 - Materials/Shader.cs
  examples/CSharp/Tutorial 3.4 - Materials/Texture.cs
  examples/CSharp/Tutorial 3.4 - Materials/Transform.cs
  examples/CSharp/Tutorial 3.4 - Materials/Tutorial 3.4 - Materials.csproj
  examples/CSharp/Tutorial 3.4 - Materials/VertexArrayObject.cs
  examples/CSharp/Tutorial 3.4 - Materials/lighting.frag
  examples/CSharp/Tutorial 3.4 - Materials/shader.frag
  examples/CSharp/Tutorial 3.4 - Materials/shader.vert
Labels: size/XL

#232 Add Time property to Window
  examples/CSharp/Tutorial 2.1 - Co-ordinate Systems/Program.cs
  src/Windowing/Extensions/Silk.NET.Windowing.Extensions.Veldrid/VeldridWindow.cs
  src/Windowing/Silk.NET.Windowing.Common/Interfaces/IView.cs
  src/Windowing/Silk.NET.Windowing.Common/Interfaces/IWindowProperties.cs
  src/Windowing/Silk.NET.Windowing.Common/WindowOptions.cs
  src/Windowing/Silk.NET.Windowing.Desktop/GlfwWindow.cs
Labels: size/M

#245 Create Tutorial 3.5 - Light Maps
  Silk.NET.sln
  examples/CSharp/Tutorial 3.5 - Lighting Maps/BufferObject.cs
  examples/CSharp/Tutorial 3.5 - Lighting Maps/Camera.cs
  examples/CSharp/Tutorial 3.5 - Lighting Maps/MathHelper.cs
  examples/CSharp/Tutorial 3.5 - Lighting Maps/Program.cs
  examples/CSharp/Tutorial 3.5 - Lighting Maps/Shader.cs
  examples/CSharp/Tutorial 3.5 - Lighting Maps/Texture.cs
  examples/CSharp/Tutorial 3.5 - Lighting Maps/Transform.cs
  examples/CSharp/Tutorial 3.5 - Lighting Maps/Tutorial 3.5 - Lighting Maps.csproj
  examples/CSharp/Tutorial 3.5 - Lighting Maps/VertexArrayObject.cs
  examples/CSharp/Tutorial 3.5 - Lighting Maps/lighting.frag
  examples/CSharp/Tutorial 3.5 - Lighting Maps/shader.frag
  examples/CSharp/Tutorial 3.5 - Lighting Maps/shader.vert
  examples/CSharp/Tutorial 3.5 - Lighting Maps/silkBoxed.png
  examples/CSharp/Tutorial 3.5 - Lighting Maps/silkSpecular.png
Labels: size/XL

#242 [WIP] Maths Tests & Final API
  .github/codecov.yml
  azure-pipelines-cd.yml
  azure-pipelines.yml
  src/Maths/ConvertHelper/ConvertHelper.csproj
  src/Maths/ConvertHelper/Parser.cs
  src/Maths/ConvertHelper/Program.cs
  src/Maths/ConvertHelper/Token.cs
  src/Maths/ConvertHelper/Tokenizer.cs
  src/Maths/Silk.NET.Maths.Generator/MethodAliasGenerator.cs
  src/Maths/Silk.NET.Maths.Generator/Silk.NET.Maths.Generator.csproj
  src/Maths/Silk.NET.Maths.Tests/Box2Tests.fs
  src/Maths/Silk.NET.Maths.Tests/Main.fs
  src/Maths/Silk.NET.Maths.Tests/ScalarTests.fs
  src/Maths/Silk.NET.Maths.Tests/Silk.NET.Maths.Tests.fsproj
  src/Maths/Silk.NET.Maths/AssemblyInfo.cs
  src/Maths/Silk.NET.Maths/Box2.cs
  src/Maths/Silk.NET.Maths/Box3.cs
  src/Maths/Silk.NET.Maths/Half.cs
  src/Maths/Silk.NET.Maths/Matrix2x2.cs
  src/Maths/Silk.NET.Maths/Matrix2x3.cs
  src/Maths/Silk.NET.Maths/Matrix2x4.cs
  src/Maths/Silk.NET.Maths/Matrix3X3.cs
  src/Maths/Silk.NET.Maths/Matrix3X4.cs
  src/Maths/Silk.NET.Maths/Matrix3x2.cs
  src/Maths/Silk.NET.Maths/Matrix3x3.cs
  src/Maths/Silk.NET.Maths/Matrix3x4.cs
  src/Maths/Silk.NET.Maths/Matrix4X3.cs
  src/Maths/Silk.NET.Maths/Matrix4X4.cs
  src/Maths/Silk.NET.Maths/Matrix4x2.cs
  src/Maths/Silk.NET.Maths/Matrix4x3.cs
  src/Maths/Silk.NET.Maths/Matrix4x4.cs
  src/Maths/Silk.NET.Maths/PublicAPI/net5.0/PublicAPI.Shipped.txt
  src/Maths/Silk.NET.Maths/PublicAPI/net5.0/PublicAPI.Unshipped.txt
  src/Maths/Silk.NET.Maths/PublicAPI/netcoreapp3.0/PublicAPI.Shipped.txt
  src/Maths/Silk.NET.Maths/PublicAPI/netcoreapp3.0/PublicAPI.Unshipped.txt
  src/Maths/Silk.NET.Maths/PublicAPI/netstandard2.0/PublicAPI.Shipped.txt
  src/Maths/Silk.NET.Maths/PublicAPI/netstandard2.0/PublicAPI.Unshipped.txt
  src/Maths/Silk.NET.Maths/PublicAPI/netstandard2.1/PublicAPI.Shipped.txt
  src/Maths/Silk.NET.Maths/PublicAPI/netstandard2.1/PublicAPI.Unshipped.txt
  src/Maths/Silk.NET.Maths/Quaternion.cs
  src/Maths/Silk.NET.Maths/Scalar.cs
  src/Maths/Silk.NET.Maths/ShortScalarHelper.cs
  src/Maths/Silk.NET.Maths/Silk.NET.Maths.csproj
  src/Maths/Silk.NET.Maths/SwizzleOperators.cs
  src/Maths/Silk.NET.Maths/Vector2.cs
  src/Maths/Silk.NET.Maths/Vector3.cs
  src/Maths/Silk.NET.Maths/Vector4.cs
  src/Maths/Silk.Net.Maths.Tests/ScalarTests.cs
  src/Maths/Silk.Net.Maths.Tests/Silk.Net.Maths.Tests.csproj
  src/Maths/Silk.Net.Maths.sln
Labels: area-Maths, size/XXL

#253 Upgrade to .Net 5 Preview 7
  azure-pipelines-cd.yml
  azure-pipelines.yml
  global.json
Labels: size/XS

#256 Move to GitHub for CI and CD
  .github/workflows/build.yml
  .github/workflows/label.yml
Labels: size/M

#258 We will miss you, Void.
  CODEOWNERS
  README.md
Labels: size/XS
