Repository dotnet/Silk.NET, pull requests merged in 2020-08, with the labels that each got.

#260 [2.0] Sunday Sprint
  .github/workflows/build.yml
  .github/workflows/deploy.yml
  .gitignore
  build/props/common.props
  src/Core/Silk.NET.Core/Miscellaneous/RawImage.cs
  src/Core/Silk.NET.Core/Silk.NET.Core.csproj
  src/Core/Silk.NET.Core/Silk.NET.Core.csproj.DotSettings
  src/Input/Silk.NET.Input.Common/CustomInputContextCreationCallback.cs
  src/Input/Silk.NET.Input.Common/Enums/Key.cs
  src/Input/Silk.NET.Input.Common/Interfaces/ICursor.cs
  src/Input/Silk.NET.Input.Common/Interfaces/IGamepad.cs
  src/Input/Silk.NET.Input.Common/Interfaces/IInputContext.cs
  src/Input/Silk.NET.Input.Common/Interfaces/IJoystick.cs
  src/Input/Silk.NET.Input.Common/Interfaces/IKeyboard.cs
  src/Input/Silk.NET.Input.Common/Interfaces/IMouse.cs
  src/Input/Silk.NET.Input.Common/Silk.NET.Input.Common.csproj
  src/Input/Silk.NET.Input.Common/Silk.NET.Input.Common.csproj.DotSettings
  src/Input/Silk.NET.Input.Common/Structs/Axis.cs
  src/Input/Silk.NET.Input.Common/Structs/Button.cs
  src/Input/Silk.NET.Input.Common/Structs/Deadzone.cs
  src/Input/Silk.NET.Input.Common/Structs/Hat.cs
  src/Input/Silk.NET.Input.Common/Structs/ScrollWheel.cs
  src/Input/Silk.NET.Input.Common/Structs/Thumbstick.cs
  src/Input/Silk.NET.Input.Common/Structs/Trigger.cs
  src/Input/Silk.NET.Input.Glfw/GlfwCursor.cs
  src/Input/Silk.NET.Input.Glfw/GlfwInputContext.cs
  src/Input/Silk.NET.Input.Glfw/GlfwInputPlatform.cs
  src/Input/Silk.NET.Input.Glfw/GlfwJoystick.cs
  src/Input/Silk.NET.Input.Glfw/GlfwKeyboard.cs
  src/Input/Silk.NET.Input.Glfw/GlfwMouse.cs
  src/Input/Silk.NET.Input.Glfw/GlfwReadOnlyList.cs
  src/Input/Silk.NET.Input.Glfw/IGlfwDevice.cs
  src/Input/Silk.NET.Input.Glfw/ReadOnlyListEnumerator.cs
  src/Input/Silk.NET.Input.Glfw/Silk.NET.Input.Glfw.csproj
  src/Lab/BlankWindow/Program.cs
  src/Lab/InputTest/Program.cs
  src/Lab/VulkanTriangle/HelloTriangleApplication.cs
  src/Windowing/Silk.NET.Windowing.Common/Interfaces/IView.cs
  src/Windowing/Silk.NET.Windowing.Common/Interfaces/IVulkanView.cs
  src/Windowing/Silk.NET.Windowing.Common/Interfaces/IVulkanWindow.cs
  src/Windowing/Silk.NET.Windowing.Common/Interfaces/IWindow.cs
  src/Windowing/Silk.NET.Windowing.Common/Internals/ViewImplementationBase.cs
  src/Windowing/Silk.NET.Windowing.Common/Internals/WindowImplementationBase.cs
  src/Windowing/Silk.NET.Windowing.Common/Silk.NET.Windowing.Common.csproj
  src/Windowing/Silk.NET.Windowing.Common/Silk.NET.Windowing.Common.csproj.DotSettings
  src/Windowing/Silk.NET.Windowing.Common/Structs/WindowIcon.cs
  src/Windowing/Silk.NET.Windowing.Common/WindowExtensions.cs
  src/Windowing/Silk.NET.Windowing.Glfw/GlfwPlatform.cs
  src/Windowing/Silk.NET.Windowing.Glfw/GlfwWindow.cs
  src/Windowing/Silk.NET.Windowing.Glfw/Silk.NET.Windowing.Glfw.csproj
Labels: area-Input, area-Windowing, enhancement

#263 Fix Add(ICollection<string>, byte*) adding empty strings
  src/OpenXR/Silk.NET.OpenXR/XR.cs
Labels: size/XS

#268 Throw exception when Glfw.Init fails.
  src/Windowing/Silk.NET.GLFW/GlfwProvider.cs
Labels: size/S

#269 Glfw.GetError has wrong parameter type (char* -> byte*)
  .github/workflows/build.yml
  .github/workflows/deploy.yml
  global.json
  src/Windowing/Silk.NET.GLFW/Glfw.cs
  src/Windowing/Silk.NET.GLFW/GlfwProvider.cs
Labels: size/M

#271 Fix exceptions being thrown when there is no error in the tutorials
  examples/CSharp/Tutorial 1.2 - Hello quad/Program.cs
  examples/CSharp/Tutorial 1.3 - Abstractions/Shader.cs
  examples/CSharp/Tutorial 1.4 - Textures/Shader.cs
  examples/CSharp/Tutorial 1.5 - Transformations/Shader.cs
  examples/CSharp/Tutorial 2.1 - Co-ordinate Systems/Shader.cs
  examples/CSharp/Tutorial 2.2 - Camera/Shader.cs
  examples/CSharp/Tutorial 3.1 - Ambient Lighting/Shader.cs
  examples/CSharp/Tutorial 3.2 - Diffuse Lighting/Shader.cs
  examples/CSharp/Tutorial 3.3 - Specular Lighting/Shader.cs
  examples/CSharp/Tutorial 3.4 - Materials/Shader.cs
  examples/CSharp/Tutorial 3.5 - Lighting Maps/Shader.cs
Labels: area-Documentation, bug, size/M

#287 SilkTouch improvements
  src/Core/Silk.NET.SilkTouch/BoolMarshaller.cs
  src/Core/Silk.NET.SilkTouch/DelegateMarshaller.cs
  src/Core/Silk.NET.SilkTouch/Diagnostics.cs
  src/Core/Silk.NET.SilkTouch/MarshalBuilder.cs
  src/Core/Silk.NET.SilkTouch/MarshalContext.cs
  src/Core/Silk.NET.SilkTouch/Middleware.cs
  src/Core/Silk.NET.SilkTouch/NativeApiGenerator.cs
  src/Core/Silk.NET.SilkTouch/ParameterInitMiddleware.cs
  src/Core/Silk.NET.SilkTouch/PinMiddleware.cs
  src/Core/Silk.NET.SilkTouch/PinObjectMarshaller.cs
  src/Core/Silk.NET.SilkTouch/SpanMarshaller.cs
  src/Core/Silk.NET.SilkTouch/StringMarshaller.cs
Labels: size/XXL

#293 New Marshaller API
  src/Core/Silk.NET.Core/Attributes/UnmanagedTypeAttribute.cs
  src/Core/Silk.NET.Core/Native/UnmanagedType.cs
  src/Core/Silk.NET.SilkTouch/BoolMarshaller.cs
  src/Core/Silk.NET.SilkTouch/Diagnostics.cs
  src/Core/Silk.NET.SilkTouch/MarshalContext.cs
  src/Core/Silk.NET.SilkTouch/NativeApiGenerator.cs
  src/Core/Silk.NET.SilkTouch/Silk.NET.SilkTouch.csproj
  src/Core/Silk.NET.SilkTouch/StringMarshaller.cs
  src/OpenAL/Extensions/Silk.NET.OpenAL.Extensions.Creative/EffectExtension.cs
  src/OpenAL/Extensions/Silk.NET.OpenAL.Extensions.Creative/XRam.cs
  src/OpenAL/Silk.NET.OpenAL/AL/AL.cs
Labels: area-SilkTouch, size/L

#294 Core Abstractions
  src/Core/Silk.NET.Core/Native/ConcurrentDictionaryVTable.cs
  src/Core/Silk.NET.Core/Native/IVTable.cs
  src/Core/Silk.NET.Core/Native/NativeApiContainer.cs
  src/Core/Silk.NET.SilkTouch/Diagnostics.cs
  src/Core/Silk.NET.SilkTouch/MarshalContext.cs
  src/Core/Silk.NET.SilkTouch/NativeApiGenerator.cs
  src/Core/Silk.NET.SilkTouch/PinObjectMarshaller.cs
Labels: area-SilkTouch, size/L

#296 Generate VTable class
  .editorconfig
  src/Core/Silk.NET.Core/Native/NativeApiContainer.cs
  src/Core/Silk.NET.SilkTouch/NativeApiGenerator.cs
Labels: area-SilkTouch, size/L

#299 Inline Generated VTable comparisions
  .editorconfig
  Silk.NET.sln
  src/Core/Silk.NET.Core/Loader/LibraryLoader.cs
  src/Core/Silk.NET.SilkTouch/NativeApiGenerator.cs
  src/Lab/JITTesting/JITTesting.csproj
  src/Lab/JITTesting/Program.cs
  src/Lab/TestLib/Class1.cs
  src/Lab/TestLib/TestLib.csproj
Labels: area-SilkTouch, size/XL
