Repository dotnet/Silk.NET, pull requests merged in 2021-05, with the labels that each got.

#471 Fix GLFW not respecting the start-up window state (closes #453)
  src/Windowing/Silk.NET.Windowing.Glfw/GlfwWindow.cs
Labels: area-Windowing, bug

#473 Remove the "from" part of the team README section
  README.md
Labels: area-Meta, enhancement

#454 SilkTouch work for 2.4
  .editorconfig
  src/Core/Silk.NET.Core/Contexts/INativeContext.cs
  src/Core/Silk.NET.Core/Native/ConcurrentDictionaryVTable.cs
  src/Core/Silk.NET.Core/Native/IVTable.cs
  src/Core/Silk.NET.Core/Native/NativeApiContainer.cs
  src/Core/Silk.NET.SilkTouch/Diagnostics.cs
  src/Core/Silk.NET.SilkTouch/EntryPoint.cs
  src/Core/Silk.NET.SilkTouch/MarshalContext.cs
  src/Core/Silk.NET.SilkTouch/NativeApiGenerator.cs
  src/Core/Silk.NET.SilkTouch/NativeContextOverrides/PInvokeNativeContextOverride.cs
  src/Core/Silk.NET.SilkTouch/VTableGeneration.cs
  src/OpenXR/Silk.NET.OpenXR/XR.cs
  src/Vulkan/Silk.NET.Vulkan/Vk.cs
Labels: area-SilkTouch

#476 Fix Scalar<DateTime> throwing DivideByZero
  src/Maths/Silk.NET.Maths/Scalar.Constants.cs
Labels: area-Maths

#480 Add As methods to all types
  src/Maths/Silk.NET.Maths/Box2D.cs
  src/Maths/Silk.NET.Maths/Box3D.cs
  src/Maths/Silk.NET.Maths/Circle.cs
  src/Maths/Silk.NET.Maths/Cube.cs
  src/Maths/Silk.NET.Maths/Matrix2X2.cs
  src/Maths/Silk.NET.Maths/Matrix2X3.cs
  src/Maths/Silk.NET.Maths/Matrix2X4.cs
  src/Maths/Silk.NET.Maths/Matrix3X2.cs
  src/Maths/Silk.NET.Maths/Matrix3X3.cs
  src/Maths/Silk.NET.Maths/Matrix3X4.cs
  src/Maths/Silk.NET.Maths/Matrix4X2.cs
  src/Maths/Silk.NET.Maths/Matrix4X3.cs
  src/Maths/Silk.NET.Maths/Matrix4X4.cs
  src/Maths/Silk.NET.Maths/Plane.cs
  src/Maths/Silk.NET.Maths/PublicAPI.Unshipped.txt
  src/Maths/Silk.NET.Maths/Quaternion.cs
  src/Maths/Silk.NET.Maths/Ray2D.cs
  src/Maths/Silk.NET.Maths/Ray3D.cs
  src/Maths/Silk.NET.Maths/Rectangle.cs
  src/Maths/Silk.NET.Maths/Sphere.cs
  src/Maths/Silk.NET.Maths/Vector2D.cs
  src/Maths/Silk.NET.Maths/Vector3D.cs
  src/Maths/Silk.NET.Maths/Vector4D.cs
Labels: area-Maths

#484 More HLU robustness improvements
  src/Lab/InputTest/Program.cs
  src/Lab/Triangle/Program.cs
  src/Windowing/Silk.NET.Windowing.Common/Internals/ViewImplementationBase.cs
  src/Windowing/Silk.NET.Windowing.Glfw/GlfwWindow.cs
  src/Windowing/Silk.NET.Windowing.Sdl/SdlView.cs
Labels: area-Windowing

#481 Silk.NET.Vulkan.Extensions.ImGui
  Silk.NET.sln
  src/Lab/Experiments/ImGuiVulkan/ImGuiVulkan.csproj
  src/Lab/Experiments/ImGuiVulkan/ImGuiVulkanApplication.cs
  src/Lab/Experiments/ImGuiVulkan/Lib/ImGuiController.cs
  src/Lab/Experiments/ImGuiVulkan/Lib/ImGuiFontConfig.cs
  src/Lab/Experiments/ImGuiVulkan/Lib/README.txt
  src/Lab/Experiments/ImGuiVulkan/Lib/Shaders.cs
  src/Lab/Experiments/ImGuiVulkan/Program.cs
  src/Lab/Experiments/ImGuiVulkan/shader.frag
  src/Lab/Experiments/ImGuiVulkan/shader.frag.spv
  src/Lab/Experiments/ImGuiVulkan/shader.vert
  src/Lab/Experiments/ImGuiVulkan/shader.vert.spv
Labels: area-Vulkan

#483 OpenAL: Add OpenAL-Soft native libraries
  Silk.NET.sln
  src/Native/README.md
  src/Native/Silk.NET.OpenAL.Soft.Native/Silk.NET.OpenAL.Soft.Native.csproj
  src/Native/Silk.NET.OpenAL.Soft.Native/build/net461/Silk.NET.OpenAL.Soft.Native.props
  src/Native/Silk.NET.OpenAL.Soft.Native/runtimes/linux-x64/native/libopenal.so
  src/Native/Silk.NET.OpenAL.Soft.Native/runtimes/osx-x64/native/libopenal.dylib
  src/Native/Silk.NET.OpenAL.Soft.Native/runtimes/win-x64/native/soft_oal.dll
  src/Native/Silk.NET.OpenAL.Soft.Native/runtimes/win-x86/native/soft_oal.dll
  src/OpenAL/Silk.NET.OpenAL/AL/AL.cs
  src/OpenAL/Silk.NET.OpenAL/OpenALSoftLibraryNameContainer.cs
  src/OpenAL/Silk.NET.OpenAL/Silk.NET.OpenAL.csproj
Labels: area-OpenAL
