Repository dotnet/Silk.NET, pull requests merged in 2021-07, with the labels that each got.

#535 Update release notes & bindings for Silk.NET 2.6.0
  build/cache/cl.json.gz
  build/cache/vulkan.json.gz
  build/props/common.props
  generator.json
  src/OpenCL/Extensions/Silk.NET.OpenCL.Extensions.INTEL/IntelSharingFormatQueryD3d10.gen.cs
  src/OpenCL/Extensions/Silk.NET.OpenCL.Extensions.INTEL/IntelSharingFormatQueryD3d10Overloads.gen.cs
  src/OpenCL/Extensions/Silk.NET.OpenCL.Extensions.INTEL/IntelSharingFormatQueryD3d11.gen.cs
  src/OpenCL/Extensions/Silk.NET.OpenCL.Extensions.INTEL/IntelSharingFormatQueryD3d11Overloads.gen.cs
  src/OpenCL/Extensions/Silk.NET.OpenCL.Extensions.INTEL/IntelSharingFormatQueryDx9.gen.cs
  src/OpenCL/Extensions/Silk.NET.OpenCL.Extensions.INTEL/IntelSharingFormatQueryDx9Overloads.gen.cs
  src/OpenCL/Extensions/Silk.NET.OpenCL.Extensions.INTEL/IntelSharingFormatQueryGl.gen.cs
  src/OpenCL/Extensions/Silk.NET.OpenCL.Extensions.INTEL/IntelSharingFormatQueryGlOverloads.gen.cs
  src/OpenCL/Extensions/Silk.NET.OpenCL.Extensions.INTEL/IntelSharingFormatQueryVaApi.gen.cs
  src/OpenCL/Extensions/Silk.NET.OpenCL.Extensions.INTEL/IntelSharingFormatQueryVaApiOverloads.gen.cs
  src/OpenCL/Extensions/Silk.NET.OpenCL.Extensions.INTEL/IntelUnifiedSharedMemory.gen.cs
  src/OpenCL/Extensions/Silk.NET.OpenCL.Extensions.INTEL/IntelUnifiedSharedMemoryOverloads.gen.cs
  src/OpenCL/Extensions/Silk.NET.OpenCL.Extensions.KHR/Enums/KHR.gen.cs
  src/OpenCL/Silk.NET.OpenCL/CL.gen.cs
  src/OpenCL/Silk.NET.OpenCL/CLOverloads.gen.cs
  src/Vulkan/Extensions/Silk.NET.Vulkan.Extensions.EXT/ExtAcquireDrmDisplay.gen.cs
  src/Vulkan/Extensions/Silk.NET.Vulkan.Extensions.EXT/ExtAcquireDrmDisplayOverloads.gen.cs
  src/Vulkan/Extensions/Silk.NET.Vulkan.Extensions.EXT/ExtMultiDraw.gen.cs
  src/Vulkan/Extensions/Silk.NET.Vulkan.Extensions.EXT/ExtMultiDrawOverloads.gen.cs
  src/Vulkan/Extensions/Silk.NET.Vulkan.Extensions.HUAWEI/HuaweiSubpassShading.gen.cs
  src/Vulkan/Extensions/Silk.NET.Vulkan.Extensions.HUAWEI/HuaweiSubpassShadingOverloads.gen.cs
  src/Vulkan/Silk.NET.Vulkan/Enums/AccelerationStructureCreateFlagsKHR.gen.cs
  src/Vulkan/Silk.NET.Vulkan/Enums/AccelerationStructureMotionInstanceTypeNV.gen.cs
  src/Vulkan/Silk.NET.Vulkan/Enums/AccessFlags2KHR.gen.cs
  src/Vulkan/Silk.NET.Vulkan/Enums/BuildAccelerationStructureFlagsKHR.gen.cs
  src/Vulkan/Silk.NET.Vulkan/Enums/ImageUsageFlags.gen.cs
  src/Vulkan/Silk.NET.Vulkan/Enums/PipelineBindPoint.gen.cs
  src/Vulkan/Silk.NET.Vulkan/Enums/PipelineCreateFlags.gen.cs
  src/Vulkan/Silk.NET.Vulkan/Enums/PipelineLayoutCreateFlags.gen.cs
  src/Vulkan/Silk.NET.Vulkan/Enums/PipelineStageFlags2KHR.gen.cs
  src/Vulkan/Silk.NET.Vulkan/Enums/ShaderStageFlags.gen.cs
  src/Vulkan/Silk.NET.Vulkan/Enums/StructureType.gen.cs
  src/Vulkan/Silk.NET.Vulkan/Structs/AccelerationStructureGeometryMotionTrianglesDataNV.gen.cs
  src/Vulkan/Silk.NET.Vulkan/Structs/AccelerationStructureMatrixMotionInstanceNV.gen.cs
  src/Vulkan/Silk.NET.Vulkan/Structs/AccelerationStructureMotionInfoNV.gen.cs
  src/Vulkan/Silk.NET.Vulkan/Structs/AccelerationStructureMotionInstanceDataNV.gen.cs
  src/Vulkan/Silk.NET.Vulkan/Structs/AccelerationStructureMotionInstanceNV.gen.cs
  src/Vulkan/Silk.NET.Vulkan/Structs/AccelerationStructureSRTMotionInstanceNV.gen.cs
  src/Vulkan/Silk.NET.Vulkan/Structs/MultiDrawIndexedInfoEXT.gen.cs
  src/Vulkan/Silk.NET.Vulkan/Structs/MultiDrawInfoEXT.gen.cs
  src/Vulkan/Silk.NET.Vulkan/Structs/PhysicalDeviceDrmPropertiesEXT.gen.cs
  src/Vulkan/Silk.NET.Vulkan/Structs/PhysicalDeviceMultiDrawFeaturesEXT.gen.cs
  src/Vulkan/Silk.NET.Vulkan/Structs/PhysicalDeviceMultiDrawPropertiesEXT.gen.cs
  src/Vulkan/Silk.NET.Vulkan/Structs/PhysicalDeviceRayTracingMotionBlurFeaturesNV.gen.cs
  src/Vulkan/Silk.NET.Vulkan/Structs/PhysicalDeviceSubpassShadingFeaturesHUAWEI.gen.cs
  src/Vulkan/Silk.NET.Vulkan/Structs/PhysicalDeviceSubpassShadingPropertiesHUAWEI.gen.cs
  src/Vulkan/Silk.NET.Vulkan/Structs/SRTDataNV.gen.cs
  src/Vulkan/Silk.NET.Vulkan/Structs/SubpassShadingPipelineCreateInfoHUAWEI.gen.cs
Labels: area-Meta

#498 Fix loading some OpenAL extensions
  src/OpenAL/Extensions/Silk.NET.OpenAL.Extensions.EXT/FloatFormat.cs
Labels: area-OpenAL

#543 Proposal for Windowing 3.0
  documentation/proposals/Proposal - Windowing 3.0.md
Labels: area-Windowing, proposal

#542 Proposal for SilkTouch Design 3.0
  documentation/proposals/Proposal - Generation of Library Sources and PInvoke Mechanisms.md
Labels: area-SilkTouch, proposal

#402 Enhanced Input Events
  documentation/proposals/Proposal - Enhanced Input Events.md
Labels: area-Input, proposal
