Repository dotnet/Silk.NET, pull requests merged in 2022-01, with the labels that each got.

#739 Silk.NET Community Announcement blog post
  website/blog/index.cshtml
  website/blog/jan-2022/silkcommunity.md
  website/images/blog/jan-2022/silkcommunity.png
Labels: area-Documentation

#750 Fix a small divide by zero error in PointToFramebuffer
  src/Windowing/Silk.NET.Windowing.Common/Internals/ViewImplementationBase.cs
Labels: bug, area-Maths

#762 Update input context in DoEvents instead of DoUpdate
  src/Input/Silk.NET.Input.Common/Internals/InputContextImplementationBase.cs
  src/Input/Silk.NET.Input.Glfw/GlfwInputContext.cs
  src/Input/Silk.NET.Input.Sdl/SdlInputContext.cs
  src/Windowing/Silk.NET.Windowing.Common/Internals/ViewImplementationBase.cs
  src/Windowing/Silk.NET.Windowing.Common/Silk.NET.Windowing.Common.csproj
  src/Windowing/Silk.NET.Windowing.Sdl/SdlView.cs
Labels: enhancement, area-Input

#761 Ensure we allocate enough bytes for non-ASCII strings (#736)
  Silk.NET.sln
  src/Core/Silk.NET.Core/Native/SilkMarshal.cs
  src/Lab/Experiments/NonAsciiWindow/NonAsciiWindow.csproj
  src/Lab/Experiments/NonAsciiWindow/Program.cs
Labels: bug, area-Core/BuildTools

#760 Fix a SymbolLoadingException in GetStringList
  src/OpenAL/Extensions/Silk.NET.OpenAL.Extensions.Creative/EnumerateAll.cs
  src/OpenAL/Extensions/Silk.NET.OpenAL.Extensions.EXT/CaptureEnumerationEnumeration.cs
  src/OpenAL/Extensions/Silk.NET.OpenAL.Extensions.Enumeration/Enumeration.cs
  src/OpenAL/Silk.NET.OpenAL.Tests/GetStringListTests.cs
  src/OpenAL/Silk.NET.OpenAL.Tests/RunnableInDebugOnlyAttribute.cs
  src/OpenAL/Silk.NET.OpenAL.Tests/Silk.NET.OpenAL.Tests.csproj
Labels: bug, area-OpenAL

#674 Silk.NET backed Skia
  Silk.NET.sln
  src/Lab/Experiments/SilkBackedSkiaRendering/Program.cs
  src/Lab/Experiments/SilkBackedSkiaRendering/SilkBackedSkiaRendering.csproj
Labels: area-Documentation
